
.hero-full-screen {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("https://pics.filmaffinity.com/Monstruo-363693697-large.jpg") center center no-repeat;
  background-size: cover;
}

.hero-full-screen .middle-content-section {
  text-align: center;
  color: #9e0c0c;
}

.hero-full-screen .middle-content-section h1 {
  font-size: 70px; 
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  text-shadow: rgba(0,0,0,0.8);
}

.hero-full-screen .bottom-content-section svg {
  height: 3.75rem;
  width: 3.75rem;
  fill: #fefefe;
}































.testimonial-slider-container {
  background: #f2f5f7;
   padding: 50px 25px 35px 25px;
}

.testimonial-slider-container .orbit-previous,
.testimonial-slider-container .orbit-next {
  color: #0a0a0a;
}

.testimonial-slider-container .orbit-previous:hover, .testimonial-slider-container .orbit-previous:active, .testimonial-slider-container .orbit-previous:focus,
.testimonial-slider-container .orbit-next:hover,
.testimonial-slider-container .orbit-next:active,
.testimonial-slider-container .orbit-next:focus {
  background-color: transparent;
}

.testimonial-slider-container .testimonial-slide-text {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}


.testimonial-slider-container .orbit-previous {
  left: -1rem;
}

.testimonial-slider-container .orbit-next {
  right: -1rem;
}

.testimonial-slider-container .testimonial-slide {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial-slider-container .testimonial-slide-content {
  padding: 1rem 1.5rem;
}

@media screen and (min-width: 40em) {
  .testimonial-slider-container .testimonial-slide-content {
    padding: 1rem 4rem;
  }
}

.testimonial-slider-container .profile-pic {
  max-width: 225px;
}

.testimonial-slider-container .testimonial-slide-text {
  padding-left: 3rem;
}

.testimonial-slider-container .testimonial-slide-quotation {
  font-size: 1.2rem;
  position: relative;
}

.testimonial-slider-container .testimonial-slide-quotation::before {
  content: "";
  font-size: 6rem;
  color: #f2f5f7;
  position: absolute;
  top: -3rem;
  left: -3rem;
}

.testimonial-slider-container .testimonial-slide-author-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 39.9375em) {
  .testimonial-slider-container .testimonial-slide-author-container .testimonial-slide-author-info {
    margin-left: 1rem;
  }
}




























.flexible-article-image-full .thumbnail {
  width: 100%;
}

.flexible-article-image-full .thumbnail img {
  width: 100%;
}

.flexible-article-image-full .caption {
  font-size: 13px;
  opacity: 0.75;
  letter-spacing: 0.5px;
  text-align:center;
}

.flexible-article-content {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 20px;
  text-align:left;
  line-height:1.8;
  font-size:16.5px;
}

.flexible-article-content h3{
  font-size:35px;
  font-weight:700;
  letter-spacing:1px;
  margin-top:35px;
  margin-bottom:15px;
  line-height:1.2;
  text-align:center;
}

.flexible-article-content h4{
  font-size:20px;
  font-weight:600;
  margin-top:25px;
  margin-bottom:10px;
  text-align:center;
}

.flexible-article-content p{
  margin-bottom:18px;
  font-size:16.5px;
  line-height:1.8;
  text-align:left !important;
  text-justify:auto;
}

.flexible-article-image-left {
  float:left;
  margin:0.5rem 1.5rem 1rem 0;
  max-width:12.5rem;
}

.flexible-article-image-left .caption {
  font-size:13px;
  opacity:0.75;
}

.flexible-article-image-right {
  float:right;
  margin:0.5rem 0 1rem 1.5rem;
  max-width:12.5rem;
}

.flexible-article-image-right .caption {
  font-size:13px;
  opacity:0.75;
}

/* responsive foundation */
@media screen and (max-width:39.9375em){

  .flexible-article-image-left,
  .flexible-article-image-right{
    float:none;
    max-width:100%;
    margin:0;
  }

  .flexible-article-image-left .thumbnail,
  .flexible-article-image-right .thumbnail{
    width:100%;
  }

  .flexible-article-image-left .thumbnail img,
  .flexible-article-image-right .thumbnail img{
    width:100%;
  }

  .flexible-article-content{
    padding:0 18px;
  }
}
























.type-sidelines {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  
}

.type-sidelines span {
  display: inline-block;
  position: relative;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 30px;
  padding-bottom: 10px;
}

.type-sidelines span:before, .type-sidelines span:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 9999px;
  top: 50%;
  border-top-style: solid;
  border-top-width: 1px;
}

.type-sidelines span:before {
  right: 100%;
}

.type-sidelines span:after {
  left: 100%;
}























.testimonial-block-vertical{
  padding:0 18px;
  margin:50px auto;
  max-width:700px;
}


.testimonial-block-vertical-quote {
  background:#f4f4f4;
  padding:20px;
  border-radius:12px;
  margin-bottom:1.875rem;
  position:relative;
  box-shadow:0 4px 12px rgba(0,0,0,0.08);
}


.testimonial-block-vertical-quote p {
  margin-bottom: 0;
}

.testimonial-block-vertical-quote::after {
  content: '';
  bottom: -1.25rem;
  left: 2.25rem;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 1.25rem 1.125rem 0 1.125rem;
  border-color: rgba(23, 121, 186, 0.25) transparent transparent transparent;
  position: absolute;
}

.testimonial-block-vertical-person {
  display: -webkit-flex;
    margin-top:15px;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1.65rem;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-block-vertical-avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.testimonial-block-vertical-name {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
  margin-left: 0.65rem;
}

.testimonial-block-vertical-info {
  text-transform: uppercase;
  font-size: 14px;
  color: #8a8a8a;
  margin-bottom: 0;
  margin-left: 0.65rem;
}















.expand-column-wrapper {
  height: 100vh;
  max-width: 75rem;
}

.expand-column-wrapper .column {
  padding: 1rem;
  transition: all 0.5s ease-in-out;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.expand-column-wrapper .column:hover {
  -webkit-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%;
}

.expand-column-wrapper .column:hover .expand-column-content {
  opacity: 1;
}

.expand-column-wrapper .expand-column-content {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.801);
  text-align: center;
}

@media screen and (max-width: 39.9375em) {
  .expand-column-wrapper {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.expand-column-wrapper .column:nth-of-type(1) {
  background: url("https://psychocinematography.com/wp-content/uploads/2024/02/monster1.png") center center no-repeat;
  height: 100vh;
  background-size: cover;
}

.expand-column-wrapper .column:nth-of-type(2) {
  background: url("https://thefederal.com/h-upload/2024/02/09/429741-monster4.jpg") center center no-repeat;
  height: 100vh;
  background-size: cover;
}

.expand-column-wrapper .column:nth-of-type(3) {
  background: url("https://miro.medium.com/v2/resize:fit:1400/0*z7kyyfhDcEg3savm") center center no-repeat;
  height: 100vh;
  background-size: cover;
}

.expand-column-wrapper .column:nth-of-type(4) {
  background: url("https://pbs.twimg.com/media/GBtbFmCbUAAS27m.jpg") center center no-repeat;
  height: 100vh;
  background-size: cover;
}

.expand-column-wrapper .column:nth-of-type(5) {
  background: url("https://miro.medium.com/v2/resize:fit:1400/1*763ASb0uImZgZSjIC74ncQ.jpeg") center center no-repeat;
  height: 100vh;
  background-size: cover;
}













.rounded-social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}

.rounded-social-buttons .social-button.pinterest {
  background: #cb2027;
}

.rounded-social-buttons .social-button.pinterest:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.pinterest:hover, .rounded-social-buttons .social-button.pinterest:focus {
  color: #cb2027;
  background: #fefefe;
  border-color: #cb2027;
}

.rounded-social-buttons .social-button.github {
  background: #000000;
}

.rounded-social-buttons .social-button.github:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
  color: #000000;
  background: #fefefe;
  border-color: #000000;
}










.ecommerce-footer {
  margin-top: 35px;
  background-color: #e4faff;
  padding: 70px 20px 40px 20px;
}

/* Nombre centrado */
.ecommerce-footer-links h5 {
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* Barra inferior centrada */
.ecommerce-footer-bottom-bar {
  border-top: 1px solid #e6e6e6;
  margin-top: 40px;
  padding-top: 30px;
  text-align: center;
}

.ecommerce-footer-bottom-bar .bottom-links {
  margin: 0 0 1rem 0;
  padding: 0;
}

.ecommerce-footer-bottom-bar .bottom-links li {
  display: inline-block;
  margin: 0 1rem;
}

.ecommerce-footer-bottom-bar .bottom-copyright {
  color: #8a8a8a;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
