
.large-article-header {
  background: url("../css/15min.png") no-repeat top center;
  background-size: cover;
  height: 31.25rem;
  position: relative;
}

@media screen and (max-width: 39.9375em) {
  .large-article-header {
    height: 20.83333rem;
  }
}

.large-article-header-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 3.125rem;
  left: 0;
  right: 0;
}

@media screen and (max-width: 39.9375em) {
  .large-article-header-content {
    bottom: 1.25rem;
  }
}

.large-article-header-content .center-container {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 39.9375em) {
  .large-article-header-content .center-container {
    width: 100%;
    padding: 0 1.25rem;
  }
}

.large-article-header-content .article-date {
  color: #fefefe;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}

.large-article-header-content .article-title h1 {
  line-height: 3.125rem;
  color: #ffffff;
  font-weight: 600;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 4px rgba(31, 31, 31, 0.959);
}

@media screen and (max-width: 39.9375em) {
  .large-article-header-content .article-title h1 {
    line-height: 1.875rem;
  }
}

.large-article-header-content .article-details {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.large-article-header-content .article-details a {
  color: #fefefe;
}

.large-article-header-content .article-author {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}

.large-article-header-content .article-author img {
  border-radius: 3.125rem;
}

.large-article-header-content .article-author a {
  margin-left: 1rem;
}











.sticky-social-bar {
  padding: 0;
  margin: 0;
  top: 75%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 11.25rem;
  background-color: #333333;
  position: fixed;
  left: -8.75rem;
    z-index: 9999;
}

.sticky-social-bar .social-icon {
  list-style-type: none;
  color: #fefefe;
  background-color: inherit;
  margin: 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.25rem 0.25rem 0.5rem;
}

.sticky-social-bar .social-icon:first-of-type {
  padding-top: 0.375rem;
}

.sticky-social-bar .social-icon:last-of-type {
  padding-bottom: 0.625rem;
}

.sticky-social-bar .social-icon > a {
  color: inherit;
  background-color: inherit;
}

.sticky-social-bar .social-icon > a > .fa {
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  float: right;
  margin-left: 0.5rem;
}

.sticky-social-bar .social-icon > a > .fa.fa-facebook {
  background-color: #3b5998;
}

.sticky-social-bar .social-icon > a > .fa.fa-twitter {
  background-color: #55acee;
}

.sticky-social-bar .social-icon > a > .fa.fa-linkedin {
  background-color: #007bb5;
}

.sticky-social-bar .social-icon > a > .fa.fa-youtube {
  background-color: #bb0000;
}

.sticky-social-bar .social-icon > a > .fa.fa-instagram {
  background-color: #125688;
}

.sticky-social-bar .social-icon > a > .fa.fa-pinterest-p {
  background-color: #cb2027;
}

.sticky-social-bar .social-icon > a > .social-icon-text {
  font-size: 80%;
  color: #fefefe;
  text-transform: uppercase;
  margin-right: 0.5rem;
}

.sticky-social-bar .social-icon:hover {
  -webkit-transform: translateX(8.75rem);
      -ms-transform: translateX(8.75rem);
          transform: translateX(8.75rem);
}

.sticky-social-bar .social-icon:hover > a {
  color: inherit;
  background-color: inherit;
}















.blockquote-container.blockquote-left {
  float: left;
  width: 35%;
  margin-right: 1rem;
}

@media screen and (max-width: 39.9375em) {
  .blockquote-container.blockquote-left {
    float: none;
    margin: 0;
    width: 100%;
  }
}

.blockquote-container.blockquote-right {
  float: right;
  width: 35%;
  margin-left: 1rem;
}

.blockquote-container .callout .blockquote-title {
  margin-left: 1rem;
}

.blockquote-container .callout blockquote {
  quotes: "“" "”" "‘" "’  ";
  border-left: none;
}

.blockquote-container .callout blockquote:before {
  content: open-quote;
  color: #8a8a8a;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}

.blockquote-container .callout blockquote:after {
  content: close-quote;
  color: #8a8a8a;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.6em;
}

.blockquote-container .callout blockquote .blockquote-content {
  display: inline;
  color: #0a0a0a;
}

















.testimonial-slider-container {
  background: #e6e6e6;
  padding: 1rem 1rem;
}

.testimonial-slider-container .orbit-previous,
.testimonial-slider-container .orbit-next {
  color: #0a0a0a;
}

.testimonial-slider-container .orbit-previous:hover, .testimonial-slider-container .orbit-previous:active, .testimonial-slider-container .orbit-previous:focus,
.testimonial-slider-container .orbit-next:hover,
.testimonial-slider-container .orbit-next:active,
.testimonial-slider-container .orbit-next:focus {
  background-color: transparent;
}

.testimonial-slider-container .orbit-previous {
  left: -1rem;
}

.testimonial-slider-container .orbit-next {
  right: -1rem;
}

.testimonial-slider-container .testimonial-slide {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial-slider-container .testimonial-slide-content {
  padding: 1rem 1.5rem;
}

@media screen and (min-width: 40em) {
  .testimonial-slider-container .testimonial-slide-content {
    padding: 1rem 4rem;
  }
}

.testimonial-slider-container .profile-pic {
  max-width: 225px;
}

.testimonial-slider-container .testimonial-slide-text {
  padding-left: 3rem;
}

.testimonial-slider-container .testimonial-slide-quotation {
  font-size: 1.2rem;
  position: relative;
}

.testimonial-slider-container .testimonial-slide-quotation::before {
  content: "“";
  font-size: 6rem;
  color: #d6d6d6;
  position: absolute;
  top: -3rem;
  left: -3rem;
}

.testimonial-slider-container .testimonial-slide-author-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 39.9375em) {
  .testimonial-slider-container .testimonial-slide-author-container .testimonial-slide-author-info {
    margin-left: 1rem;
  }
}

